<html>
<body bgcolor="cyan">
<form method="POST" action="">
    <center>
    <h1>Enter a food name, quantity and a quantity indetifier </h1> <br>
    Food name <input type = "text" name= "fname" /> <br>
    Quantity <input type = "text" name = "quantity" /> <br>
    <label for="quantity_indentifier">Choose a quantity indentifier:</label>
    <select name="quantity_indentifier" id="quantity_indentifier">
      <option value="kg">kg</option>
      <option value="mg">mg</option>
      <option value="number">number</option>
    </select>
    <label for="category">Choose a category:</label>
    <select name="category" id="category">
      <option value="Meat">Meat</option>
      <option value="Fruits">Fruits</option>
      <option value="Vegetables">Vegetables</option>
      <option value="Drinks">Drinks</option>
      <option value="Dairy">Dairy</option>
    </select>
    <input type = "submit">
    </center>
</form>
<p align = "center">it has this many calories {{result}}</p>
</body>
</html>
